/* Spectrum input field */

.sp-input {
	background-color: #fff!important;
}


/* Fieldset */

#adminsettings fieldset {
	padding: 0;
}


#adminsettings {

	.form-shortname,
	.form-defaultinfo,
	.form-description {
		font-size: $fssmall;
		color: $textcolor_lighten !important;
		line-height: $fssmall_lh;
	}

	.form-description {
		&:empty {
			display: none;
		}
	}

	// .form-description {
	// 	font-style: italic;
	// }

	.form-item {
		margin-bottom: 1.8rem;
	}
}


/* Form spacer */

.mb2-pb-spacer,
.mb2config-spacer {
	margin: 3rem 0;
}

.mb2config-spacer {
	margin-top: 1.3rem;
	margin-left: -1rem;
	margin-right: -1rem;
}

.mb2-pb-spacer,
.mb2config-spacer-hr,
.mb2form-separator {
	border-top: solid 1px $color_border;
	//@include mb2_box_shadow(0 0 0 5px, rgba(0,0,0,.035));
}




/* Label element */

.label {
	display: inline-block;
}


.mb2config-heading {
    margin-bottom: 1rem;
    font-weight: var(--mb2-pb-fwheadings);
	color: var(--mb2-pb-headingscolor);
	line-height: 1;
}

/* Theme admin panel accordions */

.mb2tmpl-accc {
	margin: 0 0 .8rem 0;
}

.mb2tmpl-acc-title {
	margin: 0;
	padding: .78rem;
	font-size: $fsgeneral;
	color: var(--mb2-pb-headingscolor);
	cursor: pointer;
	background-color: $color_gray3;
	position: relative;
    width: 100%;
    text-align: inherit;
    font-weight: var(--mb2-pb-fwheadings);
    border: 0;
}

.mb2tmpl-acc-title:after {
	@include mb2_font_fa();
	content: '\f107';
	position: absolute;
	display: block;
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	right: 4px;
	top: 50%;
	margin-top: -15px;
	font-size: 1.6rem;
}

.mb2tmpl-acc-title.active:after {
	content: '\f106';
}

.mb2tmpl-acccontent {

	.path-admin-setting &,
    .path-admin-local-mb2megamenu & {
		display: none;
	}

	> div {
		padding: 1rem;
		background-color: lighten($color_gray2,3.5%);
		border: solid 1px lighten($color_gray3,3%);
		border-top: 0;
		border-bottom-width: .3rem;
	 }
}

.filter-message {
    width: 100%;
	padding: 2rem 2rem 1rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #e0f2e9;
	margin-bottom: 30px;

	&.urltolink {
		background-color: #f1e3df;
	}

}



.theme-checkplugins {
    background-color: #e8f6ef;
    padding: 1.3rem;
    padding-bottom: .01rem;
    width: 960px;
    max-width: 100%;
    margin: 2rem auto;

	ol {
		li {
			margin: 1.3rem 0;
		}
	}
}

/* ======================== PAGES INDEX TABLE */

.mb2-pb-index-pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mb2-pb-index-pages li {
    margin: 0;
    padding: 0;
}

.mb2-pb-index-pages li.nopages {
   color: rgba(0,0,0,.3);
}
