.tnavheader_transparent {
	

	#master-header:not(.sticky-el){
		.navigation-header {
			--mb2-pb-navcolor: #fff;
			--mb2-pb-navsubcolor: rgba(255,255,255,.65);
			--mb2-pb-navhcolor: var(--mb2-pb-navcolor);
			--mb2-pb-navsubhcolor: var(--mb2-pb-navsubcolor);
			--mb2-pb-navhbgcolor: rgba(255,255,255,.1);		
		}
	}	


	.sticky-el {
		.header-tools {
			&.tools-pos2 {

	            color: var(--mb2-pb-headingscolor);

	            .header-tools-link,
	            .popover-region-toggle {
	                i {
	                    color: var(--mb2-pb-headingscolor);
	                }
	            }

				&.type-icon {
					color: $textcolor_lighten;

		            .header-tools-link,
		            .popover-region-toggle {
		                i {
		                    color: $textcolor_lighten;
		                }
		            }
				}

	        }
		}


		#quicklinks-toggle {
		    svg {

		        path {
		            fill: $textcolor_lighten;
		        }
		    }
		}

	}


	/* Header tools */

	@media only screen and (min-width: $wmediumdevice){

		.header-tools {

			&.tools-pos2 {
				.header-tools-link,
				.popover-region-toggle {
					i {
						color: #fff;
					}
				}

				&.type-icon {
					.header-tools-link,
					.popover-region-toggle {
						i {
							color: #fff;
						}
					}
				}
			}

		}

	}


}
