
.tnavheader {

		


	/* Page header */

	#page-header {
		.flexcols {
			min-height: 50px;
		}
	}



	/* Header tools */

	@media only screen and (min-width: $wmediumdevice){

		.header-tools {

			&.tools-pos2 {
				.header-tools-link,
				.popover-region-toggle {
					i {
						color: $textcolor;
					}
				}

				&.type-icon {
					.header-tools-link,
					.popover-region-toggle {
						i {
							color: $textcolor_lighten;
						}
					}

					.tool-login {
						i {
							position: relative;
							top: 1px;
						}
					}
				}
			}

		}

	}

}
