
.theader_transparent_light,
.theader_transparent {


	#master-header:not(.sticky-el) {

		.mb2mm {
			--mb2mm-ptb: .65rem;
			--mb2mm-mtb: .8rem;
    		--mb2mm-flhp: auto;
			--mb2mm-flbr: .18rem;
		}

	}
	

	#main-header {
		z-index: 11;
	}

	&.pagelayout-maintenance {

		#main-header {
			border-bottom-color: $textcolor_lighten;
		}

	}

	.header-inner2 {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	&.tpheader_color {
		.header-inner2 {
			background-color: var(--mb2-pb-mhbgcolor);
		}
	}

	
	#page-header {

		.inner {
			margin-top: $logoh + 40px;
		}
	}







	@media only screen and (max-width: $wmediumdevice){

		.top-bar {
			display: none;
		}

	}

	/* Page builder links */

	.builder-links {
		top: 7rem;
	}

	&.builderpage {
		#user-notifications {
			position: absolute;
			top: 200px;
			left: 5%;
			right: 5%;
			z-index: 3;
		}
	}






	@media only screen and (max-width: $wdmediumdevice){

		&.pagelayout-frontpage, /* On the front page show always*/
		&.path-mod-page.builderheading0 /* On other pages - only if page heading is disabled */
		{
			.mb2-pb-row {
				&:first-child {
					.row-topgap {
						display: block;
						width: 100%;
						height: $logoh + 40px;
					}
				}
			}
		}

	}



	/* ================= ENROLMENT PAGE */
	&.enrollment-page {
		.row-topgap {
			display: block;
			width: 100%;
			height: $logoh + 40px;
		}
	}


}



/* ================= DARK TRANSPARENT HEADER */

.theader_transparent {

	#main-header {

		.main-header-list {

			color: #fff;

			li {

				a:not(.btn) {
					color: inherit;

					&:hover,
					&:focus,
					&:visited {
						color: #fff;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $wmediumdevice){

		.menu-open {
			.header-inner2 {
				background-color: rgba(0,0,0,.7) !important;
			}
		}

	}



	#page-header {

		.action-menu {
			.dropdown-toggle {
				border-color: rgba(255,255,255, .2);
			}
		}

	}

	/* Top bar */

	#main-header {	

		.top-bar {
			background-color: var(--mb2-pb-tbbgcolor);
		}
	}



	.header-tools {
		color: #fff;

		.popover-region-toggle,
		.header-tools-link {

			> i {
				color: #fff;
			}
		}
	}


	/* Mobile menu */

	// .mobile-menu {
	// 	@include mb2_box_shadow(0 3px 10px 0, rgba(0,0,0,.2));
	// }

	.show-menu {
	  color: #fff;
	}



	@media only screen and (min-width: $wmediumdevice+1){

		.header-tools {

			color: #fff;

			&.tools-pos2 {
				.header-tools-link,
				.popover-region-toggle {
					i {
						color: #fff;
					}
				}

				&.type-icon {
					.header-tools-link,
					.popover-region-toggle {
						i {
							color: #fff;
						}
					}
				}
			}

		}


		#quicklinks-toggle {
		    svg {

		        path {
		            fill: #fff;
		        }
		    }
		}



	}

}



/* ================= LIGHT TRANSPARENT HEADER */

.theader_transparent_light {


	@media only screen and (max-width: $wmediumdevice){

		.menu-open {
			.header-inner2 {
				background-color: #fff !important;
			}
		}

	}	


	#page-header {

		.action-menu {
			.dropdown-toggle {
				border-color: rgba(0,0,0, .2);
			}
		}

	}



	/* Top bar */

	#main-header {

		.top-bar {
			background-color: darken( $headerlbgcolor, 3% );
		}
	}

}
